html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.pane-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  padding-right: 10px;
  padding-bottom: 10px;
  box-sizing: padding-box;
}

.pane-row {
  flex: 1 1 auto;

  height: 100%;

  display: flex;
  flex-direction: row;
}

.pane-row.adder {
  flex: 0 0 60px;
}

.pane {
  flex: 1 1 auto;

  width: 100%;

  display: flex;
  flex-flow: column;

  margin-top: 10px;
  margin-left: 10px;
}

.pane.adder {
  position: relative;
  display: block;
}

.pane.adder.row {
  flex: 0 0 50px;
}

.pane.adder.row .plus-sign {
  width: 100%;
  height: auto;
}

.pane.adder.col .plus-sign {
  height: 100%;
  width: auto;
}

.pane.inactive {
  background: transparent repeating-linear-gradient(45deg, #FFF, #FFF 17px, #AAA 17px, #AAA 20px) repeat scroll 0% 0%;
  background-clip: content-box;
  position: relative;
}

.pane.inactive .plus-sign {
  height: 25%;
  width: auto;
}

.pane .inner.header {
  flex: 0 1 auto;

  margin-bottom: 5px;
}

.pane .inner.header select {
  margin-right: 5px;
}

.pane .inner.header button {
  float: right;
}

.pane .inner.content {
  flex: 1 1 auto;

  border: none;
  box-shadow: inset 0 1px 3px #444444;
}

.pane textarea.inner.content  {
  font-family: "Lucida Console", "Courier New", Courier, monospace;

  overflow-y: scroll;
  white-space: pre;
  resize: none;
}

.plus-sign {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
