html, body, .paneless {
  height: 100%;
  width: 100%;
  margin: 0;
}

.paneless {
  display: flex;
  flex-direction: column;
}

.pane-container {
  height: 100%;
  width: 100%;

  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  /* Padding to match 10px top and left margins on panes. */
  padding-right: 10px;
  padding-bottom: 10px;

  /* Make sure pane container does not overflow from the body element. */
  box-sizing: padding-box;
}

.footer {
  flex: 0 1 auto;
}

.pane-row {
  /* All rows (except column-adder row) will have the same height. */
  flex: 1 1 auto;

  height: 100%;

  display: flex;
  flex-direction: row;
}

.pane-row.adder {
  /* Lock height at 25px + 10px margin. */
  flex: 0 0 35px;
}

.pane {
  /* All panes (except row-adder panes) will have the same width. */
  flex: 1 1 auto;

  width: 100%;

  display: flex;
  flex-flow: column;

  margin-top: 10px;
  margin-left: 10px;
}

.pane.adder {
  /* The buttons inside the adder pane are positioned absolutely. */
  position: relative;
}

.pane.adder.col {
  /* Lock width to 25px. */
  flex: 0 0 25px;
}

.pane.inactive {
  background: transparent repeating-linear-gradient(45deg, #FFF, #FFF 17px, #AAA 17px, #AAA 20px) repeat scroll 0% 0%;
  background-clip: content-box;
  /* The button inside the inactive pane is positioned absolutely. */
  position: relative;
}

.pane .header {
  /* Wrap header content. */
  flex: 0 1 auto;

  margin-bottom: 5px;

  /* The buttons inside the header are positioned absolutely. */
  position: relative;
}

.pane .header select {
  margin-right: 5px;
}

.pane .content {
  /* The content will expand to take up all the space left by the header. */
  flex: 1 1 auto;

  border: none;
  box-shadow: inset 0 1px 3px #444444;
}

.pane textarea.content  {
  font-family: "Lucida Console", "Courier New", Courier, monospace;

  overflow-y: scroll;
  /* Preserve whitespace and only wrap on line breaks. */
  white-space: pre;
  resize: none;
}

.absolute {
  position: absolute;
}

.center-x {
  left: 50%;
  transform: translateX(-50%);
}

.center-y {
  top: 50%;
  transform: translateY(-50%);
}

.center-x.center-y {
  transform: translate(-50%, -50%);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
